.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.state-band {
  background-color: #282c34;
  min-width: 100%;
  min-height: 50px;
  display: flex;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 30pt;
}

.state-element {
  background-color: #373b42;
  color: white;
  min-width: 50px;
  min-height: 50px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
}